<ngx-datatable
  id="table"
  [rows]="rows"
  [columnMode]="'force'"
  [scrollbarH]="true"
>
  <ng-container *ngFor="let col of displayedColumns; trackBy: trackByFn">
    <ngx-datatable-column
      [prop]="col.prop"
      [frozenLeft]="col.frozenLeft"
      [width]="col.width"
    >
      <ng-template ngx-datatable-header-template>
        {{ col.name }}
      </ng-template>

      <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
        {{ value }}
      </ng-template>
    </ngx-datatable-column>
  </ng-container>
</ngx-datatable>
